body,
tr,
td,
thead,
form {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  direction: rtl;
  text-align: right;
}

.caption {
  font-size: 20px;
  color: #17a2b8;
  text-align: center;
  width: 6em;
}

.head-row {
  color: #fff;
  background-color: #343a40;
  font-weight: bold;
}

.today-row {
  background-color: #eed;
  color: #17a2b8;
}

/* .compass {
  border: 2px solid #ddd;
  border-radius: 50%;
  color: black;
  background: #eef;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 3px;
  left: 3px;
  font-size: 47px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  box-sizing: border-box;
  line-height: 0px;
  padding: 0 0 20px 0;
} */
